@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  blockquote,
  dl,
  dd,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  hr,
  figure,
  p,
  pre {
    @apply m-0;
  }

  /* Set display block for media elements */
  img,
  svg,
  video,
  canvas,
  audio,
  iframe,
  embed,
  object {
    @apply block; /* Set display to block */
    vertical-align: middle; /* Additional style not applicable in Tailwind, so use plain CSS */
  }
  img,
  video {
    max-width: 100%;
    height: auto;
  }
}

/* 
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
